@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80vh;
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.211);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
  background: rgb(77, 77, 77);
}

.calculator {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(179, 179, 179);
  border-radius: 4%;
}

.keyboard {
  width: 320px;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

td {
  width: 55px;
  height: 55px;
}
button {
  margin: 10px auto;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: rgb(179, 179, 179);
  border-radius: 50%;
  font-size: 22px;
}

#result {
  width: 280px;
  height: 70px;
  margin: 10px 0;
  padding: 10px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: right;
  background: rgb(191, 197, 182);
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 35px;
}

.operator:active,
.number:active {
  background: rgb(65, 107, 129);
  font-size: 20px;
}

.operator,
.number {
  cursor: pointer;
}

#color {
  background: rgb(179, 179, 179);
}

#color:hover {
  background: rgb(147, 151, 167);
}

#color1:hover {
  color: white;
  background: rgb(0, 0, 0);
}
